/* Navigation menu */
.navbar {
    background-color: #fff;
    max-width: 960px;
    height: 100%;
    margin: 0px auto 20px auto;
    padding: 0px;
    border-bottom: 1px solid #cccccc;
}

.name {
    background-color: #4aaaa5;
    color: #fff;
    margin: 0px;
    padding: 30px 30px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}

.navbar-nav .nav-link {
    padding: 0px 10px;
    color: #777;
}

.center-btn {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/* Body styling for all pages */
body {
    background-image: url(../images/seigaiha/seigaiha.png);
}

.container {
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 960px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 50px;
    border-top: 3px solid #4aaaa5;
    background-color: #666;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    color: #fff;
}

/* Index content */
#profilePic {
    max-width: 200px;
    height: auto;
    margin: 30px 5px 10px 5px;
}

.col {
    padding: 10px 10px;
}

/* Media Queries */

@media only screen and (max-width: 576px) {

    .name-background {
        background-color: #4aaaa5;
        width: 100%;
    }

} 