/* Navigation menu */
.nav-background {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    margin: 0px;
}

.navbar {
    background-color: #fff;
    max-width: 960px;
    height: 100%;
    padding: 0px;
}

.name {
    background-color: #4aaaa5;
    color: #fff;
    margin: 0px;
    padding: 20px 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    text-align: center;
}

.navbar-nav .nav-link {
    padding: 0px 10px;
    color: #777;
}

.navbar-nav .nav-link:hover {
    color: #4aaaa5;
    text-decoration: underline;
}

.center-btn {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/* Content area styling for all pages */
body {
    background-image: url(../images/seigaiha/seigaiha.png);
}

.container-content {
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 960px;
    margin: 20px auto 70px auto;
}

.title {
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
}

hr {
    height: 2px;
    border: 0;
    color: lightgrey;
    background-color: lightgrey;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 50px;
    border-top: 3px solid #4aaaa5;
    background-color: #666;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    color: #fff;
}

/* Index content */
.profilePic {
    max-width: 200px;
    max-height: 200px;
    padding-right: 10px;
}

.col {
    padding: 10px 10px;
}

/* Contact formatting */
.btn-primary {
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px 15px;

}

.btn-primary:hover {
    background-color: #fff;
    color: #4aaaa5;
    border: 1px solid #4aaaa5;
}

/* Portfolio formatting */
img {
    width: 300px;
    height: 300px;
}

.img-holder {
    position: relative;
    width: 300px;
}

.label {
    position: absolute;
    font-family: 'Roboto Slab', serif;
    bottom: 10px;
    left: 0px;
    width: 100%;
    height: 20%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

/* Media Queries */
/* Media query for Navbar name formatting */
@media only screen and (max-width: 576px) {

    .container-no-padding {
        padding: 0px;
    }

    .name-background {
        background-color: #4aaaa5;
        width: 100%;
    }

} 