* {
    margin-bottom: 20px; 
}

/* Navigation menu */
.navMenu {
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
}

.navbar {
    background-color: #fff;
    max-width: 960px;
    height: 100%;
    margin: 0px auto 0px auto;
    padding: 0px;
}

#name {
    background-color: #4aaaa5;
    color: #fff;
    margin: 0px;
    padding: 30px 30px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Body styling for all pages */
body {
    background-image: url(../images/seigaiha/seigaiha.png);
}

.container {
    max-width: 960px;
    border: 1px solid black;
    background-color: #fff;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 50px;
    border-top: 3px solid #4aaaa5;
    background-color: #666;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    color: #fff;
}

/* Index content */
#profilePic {
    max-width: 200px;
    height: auto;
    margin: 30px 5px 10px 5px;
}

.col {
    padding: 10px 10px;
}